{% load static %}
{% csrf_token %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'blog:index' %}">hhonasoge</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse ml-auto" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'blog:blog_home' %}">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'blog:contact' %}">Contact</a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="container" id="mainbody">
        {% block content %}
        {% endblock %}
        <!-- Footer -->
        <footer id="lab_social_icon_footer">
            <div class="text-center center-block">
                <a href="https://www.facebook.com/harsha.honasoge"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
                <a href="https://github.com/hhonasoge"><i id="social-gh" class="fa fa-github-square fa-3x social"></i></a>
                <a href="https://www.linkedin.com/in/hhonasoge"><i id="social-ln" class="fa fa-linkedin-square fa-3x social"></i></a>
                <a href="mailto:harsha.honasoge@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
        </div>
        </footer>
    </div>
  </body>
</html>