{% extends 'blog/base.html' %}

{% block content %}
<ul class="contact">
    <li class="contact-item">
      <a href="https://www.facebook.com/harsha.honasoge">Facebook</a>
    </li>
    <li class="contact-item">
        <a href="https://github.com/hhonasoge">Github</a>
    </li>
    <li class="contact-item">
        <a href="mailto:harshadothonasogeatgmail.com">Gmail</a>
    </li>
    <li class="contact-item">
        <a href="https://www.linkedin.com/in/hhonasoge">LinkedIn</a>
    </li>
  </ul>
{% endblock %}